<!DOCTYPE html>
<html ng-app="socialNotes"><!-- use camel case, module name -->
<head lang="en">
    <meta charset="UTF-8">
    <title>Social Notes</title>
    <link rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.css"/>
</head>
<body>
<img src="http://www.nova.edu/ssss/QR/papership.jpg" title="Social Notes"/>

<h1 ng-cloak>CATS: ALL YOUR NOTES ARE BELONG {{ 1 + 1 }} US.</h1>

<p>Social note taking for sharing good ideas and links during training</p>

<h5>--- start view ---</h5>

<div ng-view></div>

<h5>--- end view ---</h5>

<img src="http://upload.wikimedia.org/wikipedia/en/0/03/Aybabtu.png" title="Awesome"/>

<!-- scripts, better performance at bottom -->
<script src="lib/angular/angular.js"></script>
<script src="lib/angular-route/angular-route.js"></script>
<script src="js/app.js"></script>
</body>
</html>